body {
    font-family: Arial;
    background: #fff8e6;
    color: #5a3e36;
    margin: 0;
    padding: 0;
}

header {
    background: #d4a76a;
    padding: 10px 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    background: #8c5e3b;
    border-radius: 15px;
    display: inline-block;
}

section {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
button{
    color: #ffffff;
    text-decoration: #ffffff;
    background-color: #d4a76a;
    padding: 4px 10px;
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: #5a3e36;
}


#valores ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#valores ul li {
    display: inline-block;
    background: #8c5e3b;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
}

.productos {
    text-align: center;
}
.producto2 {
    text-align: center;
    height: auto;
    width: 750px;
    margin: 0 auto;
}
.producto {
    display: inline-block;
    width: 45%;
    min-width: 250px;
    margin: 10px;
    vertical-align: top;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #ccc;
}

.producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
table {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #8c5e3b;
    text-align: center;
}

th {
    background: #8c5e3b;
    color: white;
}

footer {
    background: #5a3e36;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
.botones-acciones {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .botones-acciones button {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .btn-consultar {
            background-color: #4CAF50;
            color: white;
        }
        .btn-eliminar {
            background-color: #f44336;
            color: white;
        }
        .btn-actualizar {
            background-color: #2196F3;
            color: white;
        }