header{
    background-color: rgb(118, 122, 126);
    padding: .5%;
    text-align: center;
}
body{
    width: 30%;
    border: 30px;
    padding: 30px;
    border: 1px solid #0000;
    margin: 15px auto;
    margin-left: auto;
    background-color: rgb(247, 245, 244);
    font-size: 18px;
}
main{
    margin: 8% 2.5%;
}
footer{
    background-color: rgb(117, 117, 96);
    text-align: center;
    color: rgb(227, 245, 245);
    padding: 8px 0;
    margin-top: 90px;
}